

    <div class="footer">
        <!--<span>Contatos</span>-->
        <div class="container__contatos">
            <!---
            <div>
                <img class="logo-lr" src="../static/images/midia-social/logo_lr.webp" alt="logo lr">
            </div><br
            -->

            <address class="container__imagens">
                <a target="_blank" href="https://www.facebook.com/lrco.br"><img class="img__icone" src="../static/images/rede-social/facebook.webp" alt="facebook"></a>
                <a target="_blank" href="https://instagram.com/lrco.br?utm_medium=copy_link"><img class="img__icone" src="../static/images/rede-social/instagram.webp" alt="instagram"></a>
                <div class="line"></div>
                <span style="font-size: 13px; color: white; font-weight: normal;">atendimento@lrapplications.com</span>
                <br>
                <span style="font-size: 13px; color: white; font-weight: normal;">Copyright&copy; 2021, L&R Company Brasil</span>
                <br>
            </address>

        </div>

    </div>
    <style>
        @font-face {
            font-family: 'GarentLight';
            src: url(./assets/font/Garet-Book.otf);
        }
        .footer {
            background-color: black;
            width: 100%;
            height: auto;
        }

        .container__contatos {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }

        span {
            display: flex;
            justify-content: center;
            margin-bottom: 0px;
            font-family: 'GarentLight';
            font-weight: 900;
            font-size: 13px;
            z-index: 100;
        }
        .logo-lr{
            width: 50px;
        }
        .img__icone {
            width: 20px;
            margin: 5px 10px;
        }
        .line{
            width: 100%;
            border-bottom: 2px solid gray;
        }
        .container__imagens{
            text-align: center;
        }
    </style>
</body>

</html>