<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/styles.css">
    <title>Stillus</title>
</head>

<body>
    <div class="container__login">
        <div class="formulario__login">
            <h1 class="title">Recuperar Conta</h1>
            <form action="" method="post">
                <br>
                <label>Email</label>
                <input class="formInput" type="text"><br>
                <input class="formInput" type="submit" value="Enviar">
            </form>

            <div style="color: green;">
                Se as credenciais estiverem corretas <br>
                o email foi enviado!
            </div>

            <div class="barra__inferior">
                <span>Já possui uma conta?</span>
                <span> </span>
                <a href="login"><strong>Fazer Login</strong></a>
            </div>
        </div>
    </div>
</body>

</html>